/*.show {*/
    /*opacity: 1;*/
    /*transition: all 1s ease-in;*/
/*}*/
/*.hidden {*/
    /*opacity: 0;*/
    /*transition: all 1s ease-in;*/
/*}*/
/*.hidden {*/
    /*animation: hidden-item 2s ease-in forwards;*/
/*}*/
/*.show {*/
    /*animation: show-item 2s ease-in forwards;*/
/*}*/
/*@keyframes hidden-item {*/
    /*0% {*/
        /*opacity: 1;*/
        /*color: red*/
    /*}*/
    /*50% {*/
        /*opacity: 0.5;*/
        /*color: green;*/
    /*}*/
    /*100% {*/
        /*opacity: 0;*/
        /*color: blue;*/
    /*}*/
/*}*/
/*@keyframes show-item {*/
    /*0% {*/
        /*opacity: 0;*/
        /*color: red*/
    /*}*/
    /*50% {*/
        /*opacity: 0.5;*/
        /*color: green;*/
    /*}*/
    /*100% {*/
        /*opacity: 1;*/
        /*color: deeppink;*/
    /*}*/
/*}*/
.fade-enter,.fade-appear {
    opacity: 0;
    color: red;
}
.fade-enter-active,.fade-appear-active {
    opacity: 1;
    color: green;
}
.fade-enter-done {
    opacity: 1;
    color: blue;
}
.fade-exit{
    opacity: 0;
}
.fade-exit-active {
    opacity: 1;
}
.fade-exit-done{
    opacity: 0;
}